.home-wrapper {
  height: calc(100vh - 65px);
  background-image: linear-gradient(
    to right top,
    #000000,
    #342a2a,
    #65504b,
    #987b6c,
    #c8ac8d,
    #dbbf93,
    #ecd49a,
    #f9eaa1,
    #f4e18b,
    #efd974,
    #ebd05d,
    #e6c744
  );
}

.home-section {
  color: #000000;
  font-size: 80px;
  font-weight: 600;

  @media (max-width: 550px) {
    font-size: 30px;
  }
}
