.css-k008qs {
  height: 65px;
  .MuiBox-root {
    width: 100%;
    text-align: right;
  }
  .MuiAppBar-root {
    background-color: black !important;
    height: 65px;
    .welcome {
      font-size: large;
      font-weight: 600;
    }
  }
}
