@import "../../../assets/scss/theme-variable.scss";

.signup-section-wrapper {
  height: 100%;
  .signup-form-container {
    background-color: #ffffff;
    border-radius: 20px;
    width: 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .signup-form-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 30px;

      h1 {
        color: #6b5b95;
        font-size: 25px;
      }

      .signup-btn {
        background-color: #6b5b95 !important;
        width: 150px;
        border-radius: 50px;
        cursor: pointer;
      }

      .signup-divider {
        padding: 20px;
        width: 100%;
        color: #6b5b95;
        opacity: 0.5;
      }

      .social-login-btn-wrapper {
        display: flex;
        align-items: center;
      }

      .signup-account-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100% !important;
        padding-top: 20px;

        @media (max-width: 950px) {
          font-size: 12px;
        }
        .already-account {
          color: rgba(177, 165, 165, 0.911);
          a {
            color: #6b5b95;
          }
        }
      }
    }
  }
}
