@import "../../assets/scss/theme-variable.scss";

.input-field-wrapper {
  position: relative;
  width: 100%;

  .MuiFilledInput-root {
    border-radius: 5px;
    height: 49px !important;
  }

  .MuiOutlinedInput-root {
    min-height: 56px !important;
    border-radius: 10px !important;

    @media (max-width: 1366px) and (max-height: 800px) {
      min-height: unset !important;
      height: 50px !important;
    }
  }

  .mui-text-area {
    .MuiOutlinedInput-root {
      min-height: 56px !important;
      border-radius: 10px !important;

      @media (max-width: 1366px) and (max-height: 800px) {
        min-height: 50px !important;
        height: unset !important;
      }
    }
  }

  .MuiInputLabel-formControl {
    color: #4c444c;
    font-size: 14px;
    font-weight: 400;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: #7e747d !important;
  }

  .MuiFormLabel-root {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */

    color: #a9a9a9;

    &.Mui-focused {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      /* identical to box height */

      color: #a9a9a9;
      // color: #932db1;
      // font-weight: 400;
    }
    &.Mui-error {
      color: #a9a9a9 !important;
    }
  }

  .MuiInputBase-root {
    font-size: 14px;
    background-color: #f5f5f5;

    input[type="password"] {
      letter-spacing: 5px;
    }
  }

  .MuiInputBase-input {
    @include themify($themes) {
      color: themed("textColor");
      font-weight: 400;
      font-size: 14px;
    }
    &.Mui-disabled {
      background-color: #f5f5f5 !important;
      -webkit-text-fill-color: #000000;
    }
  }

  .Mui-focused {
    font-size: 14px !important;

    .MuiOutlinedInput-notchedOutline {
      border-color: #932db1 !important;
    }
  }

  .Mui-error {
    .MuiOutlinedInput-notchedOutline {
      border-color: #ba1a1a !important;
    }
  }

  &.error-field-wrapper {
    .MuiOutlinedInput-notchedOutline {
      border-color: #ba1a1a !important;
    }
  }

  &.select-field-wrapper {
    // margin-bottom: 32px;

    .css-6ffsbr-MuiAutocomplete-root {
      width: 100%;
      margin: 0;
    }
  }

  &.search-field-wrapper {
    .MuiFormControl-root {
      margin: 0;
    }
  }
}

.MuiChip-root {
  border: 1px solid #827568 !important;
  border-radius: 8px !important;
  background-color: transparent !important;
  min-width: 72px;

  .MuiChip-label {
    color: #6f6152 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .MuiChip-deleteIcon {
    color: #504539 !important;
  }
}

.checkbox-wrapper {
  margin-bottom: 32px;
}
